*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/app/src/main/res/values/key.xml

# Gradle files
build/

# IntelliJ
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/caches